{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/challenge/GS/abyss.css"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}/challenge/GS/avatar-card.css"/>
{{/block}}

{{block 'main'}}
{{ set upDown = {up:'上半', down:'下半'} }}
<div class="head-box type">
  <div class="title">#深境螺旋<span>{{abyss.schedule}} · {{abyss.total}}次战斗</span></div>
  <div class="uid">UID:{{uid}}</div>
</div>
<div class="info_box">

  <div class="abyss-stat-cont">
    <div class="abyss-stat">
      {{each stat ds}}
      {{set avatar = avatars[ds.id]}}
      <div class="cont">
        {{if avatar}}
        <div class="stat-title">
          <span>{{ds.title}}</span>
          <strong>{{ds.value}}</strong>
        </div>
        <div class="avatar-banner avatar-{{avatar.name}}"
             style="background-image:url({{avatar.gacha || avatar.face}})"></div>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>

  {{set cardTypes={1:['wide wide2'],2:['wide','wide'],3:['wide','mini','mini'],4:['mini','mini','mini','mini']} }}
  {{each abyss?.floors floor}}
  <div class="cont">
    <div class="cont-body">
      <div class="abyss-title">
        <strong>第{{floor.index}}层</strong>
        <span class="abyss-star">{{floor.star}}/9</span>
      </div>
      <div class="abyss-floor-team">
        <div class="abyss-team">
          {{set ds=floor?.display?.up?.avatars||[] }}
          {{each ds id idx}}
          <% include(_tpl_path+'/avatar-card.html', [avatars[id],{_res_path, cardType:'mini'}]) %>
          {{/each}}
        </div>
        <div class="line"></div>
        <div class="abyss-team">
          {{set ds=floor?.display?.down?.avatars||[] }}
          {{each ds id idx}}
          <% include(_tpl_path+'/avatar-card.html', [avatars[id],{_res_path, cardType:'mini'}]) %>
          {{/each}}
        </div>
      </div>
      <div class="abyss-detail">
        {{each floor.levels level idx}}
        <div class="abyss-level">
          <div class="info">
            <div class="title">第{{idx}}间</div>
            <span class="star star{{level.star}}"></span>
            <div class="time">{{level?.up?.time}}</div>
          </div>
          <div class="avatars">
            {{each upDown v k}}
            <div class="avatar-list {{k}}">
              {{each level[k]?.avatars||[] id}}
              {{set avatar = avatars[id] || {} }}
              <div class="avatar-icon item-icon star{{avatar.star==4?4:5}}">
                <span class="img" style="background-image:url({{avatar.face}})"></span>
              </div>
              {{/each}}
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{/each}}

  <div class="cont abyss-notice">
    <div class="cont-body">
      <ul class="cont-msg">
        <li>深渊排行为本期深渊排行，数据仅供娱乐~</li>
        <li>排行榜数据仅在群聊查询时自动上报</li>
      </ul>
    </div>
  </div>
</div>
{{/block}}
