.avatar-card {
  margin: 4.5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 19.5px;
  border-radius: 10.5px;
}
.avatar-card .card {
  border-radius: 10.5px;
  box-shadow: 0 2px 9px 0 rgba(132, 93, 90, 0.3);
  position: relative;
  overflow: hidden;
  background: #e7e5d9;
  width: 105px;
}
.avatar-card .avatar-face {
  width: 105px;
  height: 105px;
  border-radius: 10.5px 10.5px 22.5px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.avatar-card .avatar-face .img {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center bottom;
}
.avatar-card .avatar-face .avatar-level {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  padding: 3px 7.5px 3px 4.5px;
  border-radius: 0 6px 0 0;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 0 1px #000;
}
.avatar-card .avatar-face .avatar-level span {
  font-size: 12px;
}
.avatar-card .cons {
  border-radius: 0 0 0 7.5px;
  padding: 3px 7.5px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.avatar-card .cons.cons-0 {
  display: none;
}
.avatar-card .cons.cons-试用 {
  background-color: #d9767c;
}
.avatar-card .cons.cons-助演 {
  background-color: #4889bf;
}
/* mini mode: hide wide-only elements */
.avatar-card.card-mini .wide,
.avatar-card.card-mini .line {
  display: none;
}
/* wide mode */
.avatar-card.card-wide .mini {
  display: none;
}
.avatar-card.card-wide .card {
  width: 219px;
  display: flex;
}
.avatar-card.card-wide .avatar-face {
  height: 189px;
  width: 114px;
  border-radius: 10.5px 0 0 10.5px;
}
.avatar-card.card-wide .avatar-face .img {
  background-size: 100% auto;
  background-position: 0 10%;
  height: 202.5px;
  margin-top: -13.5px;
}
.avatar-card.card-wide .avatar-info {
  width: 105px;
  padding: 12px 0 0 7.5px;
  color: #333;
}
.avatar-card.card-wide .avatar-info strong {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 30px;
}
.avatar-card.wide2 .card {
  width: 447px;
}
.avatar-card.wide2 .avatar-face {
  width: 219px;
}
.avatar-card.wide2 .avatar-face .img {
  margin-top: -75px;
  height: 264px;
}
.avatar-card.wide2 .avatar-info {
  width: 219px;
  padding-left: 7.5px;
}
