[submodule "tool/test_nine/test_nine"]
	path = tool/test_nine/test_nine
	url = https://github.com/luguoyixiazi/test_nine.git
[submodule "tool/MihoyoBBSTools/MihoyoBBSTools"]
	path = tool/MihoyoBBSTools/MihoyoBBSTools
	url = https://github.com/Womsxd/MihoyoBBSTools.git
